.Row__Container {
  position: absolute;
  top: 20%;
  transform: translate(-50%, 150%);
  width: 50%;
  left: 20%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.Row__Container .nav-item {
  list-style: none;
  position: relative;
  margin-bottom: 20px;
}

.Row__Container .outline-active {
  position: absolute;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.Row__Container .nav-link {
  padding: 5px 10px;
  color: #5cb85c;
  font-size: 20px;
}

.outline-active::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 20%;
  border-bottom: 1px solid #5cb85c !important;
}
