@import 'login/login.css';
@import 'layout/header.css';
@import 'home/home.css';
@import 'register/register.css';
@import 'setting/setting.css';
@import 'home/article.css';

html,
body,
ul,
li {
  margin: 0;
  padding: 0;
}
::placeholder {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
}
input:focus {
  outline: none;
}
