html,
body,
ul,
li {
  margin: 0;
  padding: 0;
}
::placeholder {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
}
input:focus {
  outline: none;
}

.spinner {
  background-image: url('/src/public/spinner.gif');
  width: 50px;
  height: 50px;
  margin: 25px auto;
  background-size: cover;
}
