.Setting__Container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}
.Setting__Container .form .setting-in-box textarea {
  margin: 10px 20px;
  font-size: 20px;
  width: 500px;
  height: auto; /* set height to auto to adjust to content */
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.spinner {
  width: 150px;
  height: 150px;
  background-size: cover;
}

.Setting__Container .setting-in-box {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.Setting__Container h2 {
  text-align: center;
  font-size: 30px;
}
.Setting__Container .register-in-title p {
  color: green;
}
.Setting__Container .form .setting-in-box input {
  margin: 10px 20px;
  font-size: 20px;
  width: 500px;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.Setting__Container .form-button {
  background-color: green;
  padding: 10px 15px;
  border-radius: 5px;
  margin-right: 20px;
  margin-top: 10px;
  color: white;
  border: none;
  float: right;
}
